 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 5px;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 1px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        .button {
            display: inline-block;
            background-color:red;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 10px;
            margin-top: 17px;
        }

        .button:hover {
            background-color: grey;
        }