 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1px;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .car-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .car-item {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
        }

        .car-item img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .car-item h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .car-item p {
            font-size: 14px;
            color: #888;
            margin-bottom: 10px;
        }

        .pesan {
         display: inline-block;
         background-color: red;
         color: #fff;
         padding: 5px 10px;
         text-decoration: none;
         border-radius: 5px;
         font-size: 12px;
         margin-right: 10px;
        }

        .pesan:hover {
            background-color: #555;
        }

        .kembali {
            display: inline-block;
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 10px;
            margin-top: 17px;
        }

        .kembali:hover {
            background-color: #555;
        }