 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 230px;
            background-image: url('bck2.jpg');
            background-size: cover;
            background-position: center;
        }

        h1 {
            font-size: 26px;
            margin-bottom: 11px;
        }

        h2 {
            font-size: 36px;
            margin-bottom: -15px;
            color: white;
            text-shadow: 1px 1px 1px black ;
        }

         h4 {
            font-size: 16px;
            margin-bottom: 45px;
            color: white;
            text-shadow: 1px 1px 1px black ;
        }

        nav {
            margin-bottom: 20px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            color:#fff;
            text-decoration: none;
            font-size: 16px;
        }

        .button {
            display: inline-block;
            background-color:red;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 10px;
        }

        .button:hover {
            background-color: #555;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .social-media {
            margin-top: 10px;
        }

        .social-media a {
            display: inline-block;
            color: #fff;
            margin-right: 10px;
            font-size: 20px;
            list-style: none;
            text-decoration: none;
        }
         .logo {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .login a {
            display: inline-block;
            background-color:red;
            color: #fff;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 13px;
            margin-right: 45px;
        }
         .login:hover {
            background-color: #555;
        }
